# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result + 2)

7.4
11.4

# Subtraction

result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1

##### Multiplication

In [22]:
result_mul = num2 * num1
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [20]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [23]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [28]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [29]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [34]:
name = 'Brandon'
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [37]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Apol")

This is my first name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [3]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [43]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [48]:
# Input will always return a string

# name = input("What is youre name?")
# print("Nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 37
42

##### format()

In [49]:
age = input("What is your age? ")

result_string = "You are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 37
You are getting wiser!
37 is a great time in life!!!

##### Old Way (python 2)

In [50]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 37 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
name = input("What is your name? ")
color = input("What color is your car? ")
year = input("What year is your car? ")
model = input("What model is your car? ")
results = f"{name}, your {year} {model}'s color is {color}."

print(results)

, your  's color is .

### If Statements

In [72]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
#     print("Equal Values")
# else:
#     print("Not equal")
    
if num2 < num1 or num3 > 0:
    print("This ran!")
else:
    print("You are here")

This ran!

##### 'is' keyword

In [78]:
# The "is" Keyword is for checking for the same object, but not the same value

num3 == 55

if num3 == 55:
    print("This is the exact number/object")

##### 'in' keyword

In [4]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [81]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [84]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

my_variable = input("What is your input? ")

if 'p' in my_variable:
    print('The letter "p" is here.')
else:
    print('The letter "p" is not here')

What is your input? gummyworms
The letter "p" is not here

## Using 'and'/'or' with If Statements

In [88]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('False and True')

True and True
False and True

### Elif Statements

In [90]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == 'Brandon':
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT max')
else:
    print('The name is Max')
print('Hi')

What is your name? Stephen
The name is NOT max
Hi

### Else Statements

In [5]:
# see above

### For Loops

In [102]:
# Syntax:
# for counter in condition

name = "Stephen Prahl"
a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [6]:
# see above

##### Continue Statement

In [7]:
# will continue to next iteration

In [103]:
name = "Stephen Prahl"

for i in name:
    if i == "a":
        continue
    print(i)

S
t
e
p
h
e
n

P
r
h
l

##### Break Statement

In [8]:
# will break out of current loop

In [104]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [9]:
# mostly used as a placeholder, and will continue on same iteration

In [106]:
name = "Stephen Prahl"

for i in name:
    pass

##### Double For Loops

In [108]:
for i in range(1):
    for j in range(5):
        print('i =', i, 'j =', j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4

### While Loops

In [110]:
# Syntax:
# While keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [115]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [117]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
          
    for i in range(2):
          print("For loop iteration: ", str(i))
        
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [120]:
# range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [121]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: Sigma Force
11

##### help()

In [123]:
# Use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [127]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)
num = 4.5
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

4.5 is a float!

##### abs()

In [128]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [134]:
# Use this to log out graceful and useful error messages
# Does not stop the program! Neato!

try:
    input_num = int(input('Guess a number '))
    print('Your number is ' + str(input_num))
        
except:
    print("That didnt work! Change your input to a number!")

Guess a number 4
Your number is 4

### Lists

##### Declaring Lists

In [136]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', "bob", 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [146]:
# list_name[start: stop: step]

# Single index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [147]:
names.append('Stephen')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Stephen']

##### .insert()

In [148]:
names.insert(3,'Barbie')
print(names)

['Max', 'Cindy', 'Kathy', 'Barbie', 'bob', 'Nate', 'Stephen']

##### .pop()

In [149]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Barbie', 'bob', 'Nate', 'Stephen']


##### .remove()

In [152]:
# Value to be removed ratherthan index
# names.remove('bob')
# print(names)

# Remove multiple stephens from list
while 'Stephen' in names:
    names.remove('Stephen')
print(names)

['Max', 'Cindy', 'Barbie', 'Nate']

##### del()

In [153]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Barbie', 'Nate']

##### Concatenating Two Lists

In [156]:
# Will append two lists together, will NOT add the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [167]:
# Lists can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "jim"], "Rick", "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'jim'], 'Rick', 'Tameka']]
jim

##### Looping Through Lists

In [168]:
# Two ways to loop through a list! One is by index; the other by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'jim'], 'Rick', 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'jim'], 'Rick', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [4]:
# First im going to think about what im going to eat, then im going to figure out where im going to eat at, 
# then im going to think about how much it will cost, and then i will eat, if i can afford it, if not im not going out to eat. ill eat at home.

for i in range(1, 11):
    result = i**3
    if result > 1000:
        break
    print(result)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [5]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

primes = []
for num in range(2, 101):
    if all(num % i != 0 for i in range(2, int(num ** 0.5) + 1)):
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
age = int(input("what is your age? "))

if age < 18:
    print("you are a kid.")
elif age >= 18 and age <= 65:
    print("Your are an adult.")
else:
    print("You are a senior.")

Your are an adult.